@model List<Student>
@{
    ViewData["Title"] = "Students";
}

<html>

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #1E68B0;
            color: white;
        }
</style>

<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>Cet322</b> Duygu Mordoğan</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small" style="position: relative; right: 20%; ">
                <a href="/students" class="w3-bar-item w3-button">Students</a>
                <a href="/" class="w3-bar-item w3-button">Students' Details</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <table id="customers">
            <tr>
                <th>Name</th>
                <th>Detay</th>
            </tr>

            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a asp-controller="Students" asp-action="Detay" asp-route-id="@item.Id" class="btn btn-primary">Detay</a></td>
                </tr>
            }
        </table>
    </header>

</body>
</html>